<h1>Profile Show</h1>
<h2>Username: {{ show.profile.rank }}</h2>
<h2>Fee: £{{ show.profile.fee }}</h2>
<h2>Email: {{ show.profile.contact }}</h2>
<div ng-controller="MainController as main">
  <button ng-if="main.isLoggedIn()" ui-sref="profilesEdit({ id: show.profile.id })" class="button">Edit</button>
  <button ng-if="main.isLoggedIn()" ng-click="show.delete()">Delete</button>
</div>

<section>
  <h1>Reviews</h1>
  <ul>
    <li ng-repeat="review in show.reviews">
      <p ui-sref="reviewsShow({ id: review.id })">
        <h4>Rating: {{ review.rating }}</h4><h4>Text: {{ review.body }}</h4>
      </p>
    </li>
  </ul>
</section>

<section ng-controller="ReviewsNewController as reviewsNew">
  <h1>Review This User</h1>
  <form novalidate ng-submit="reviewsNew.create()">
    <!-- <p>Current user = {{ reviewsNew.user.user_id }}</p>
    <p>Current profile: {{ show.profile.id }}</p> -->
    <div>
      <input type="hidden" placeholder="user" ng-value="reviewsNew.user.profile_id = show.profile.id">
    </div>
    <div>
      <label>Rating</label>
      <input type="number" placeholder="Rank" ng-model="reviewsNew.user.rating">
    </div>
    <div>
      <label>Body</label>
      <input type="text" placeholder="Fee" ng-model="reviewsNew.user.body">
    </div>

    <button>Submit</button>
  </form>
</section>
