<img id="profileImage" src="{{ show.profile.image }}"</img>
<div id="infoBox">
  <h3>Username: {{ show.profile.rank }}</h3>
  <h3>Fee per hour: £{{ show.profile.fee }}</h3>
  <h3>Contact: {{ show.profile.contact }}</h3>
  <h3>About: {{ show.profile.text }}</h3>
</div>

<div ng-controller="MainController as main" ng-show="show.profile.user.id === show.loggedInUserId">
  <button ng-if="main.isLoggedIn()" ui-sref="profilesEdit({ id: show.profile.id })" class="button">Edit</button>
  <button style="background-color: #DA4453" class="profileButton" ng-if="main.isLoggedIn()" ng-click="show.delete()">Delete</button>
</div>

<section>
  <h2 class="title">Reviews</h2>
  <ul>
    <li id="reviewBox" ng-repeat="review in show.reviews">
      <p ui-sref="reviewsShow({ id: review.id })">
        <h5>Rating: {{ review.rating }}/5</h5><h5>Comment: {{ review.body }}</h5>
      </p>
    </li>
  </ul>
</section>

<section ng-controller="ReviewsNewController as reviewsNew">
  <h2 class="title">Review This Profile</h2>
  <form id="reviewForm" novalidate ng-submit="reviewsNew.create()">
    <div>
      <input type="hidden" placeholder="user" ng-value="reviewsNew.user.profile_id = show.profile.id">
    </div>
    <div>
      <label>Rating /5</label>
      <input type="number" placeholder="Rating" ng-model="reviewsNew.user.rating">
    </div>
    <div>
      <label>Comment</label>
      <input type="text" placeholder="Comment" ng-model="reviewsNew.user.body">
    </div>

    <button>Submit</button>
  </form>
</section>
