<h1 class="title">Create A Profile</h1>
<form id="createProfile" novalidate ng-submit="profilesNew.create()">
  <div class="boxMargin">
    <label>UserName:</label>
    <input type="text" placeholder="UserName" ng-model="profilesNew.user.rank">
  </div>
  <div>
    <label>Fee Per Hour:</label>
    <input type="number" placeholder="Fee" ng-model="profilesNew.user.fee">
  </div>
  <div>
    <label>Contact:</label>
    <input type="email" placeholder="Contact" ng-model="profilesNew.user.contact">
  </div>
  <div>
    <label>Game:</label>
    <!-- <input type="number" placeholder="game_id" ng-model="profilesNew.user.game_id"> -->
    <select ng-model="profilesNew.user.game_id">
      <option ng-value="1">Battlefield 1</option>
      <option ng-value="4">FIFA 17</option>
      <option ng-value="5">GTA 5</option>
      <option ng-value="6">No Man's Sky</option>
      <option ng-value="7">League Of Legends</option>
      <option ng-value="8">Overwatch</option>
      <option ng-value="9">The Division</option>
      <option ng-value="10">Final Fantasy XV</option>
      <option ng-value="11">Destiny</option>
    </select>
  </div>

  <!-- <p>Current user: {{ profilesNew.user.user_id }}</p> -->
  <button>Create Profile</button>
</form>
