<h1>About Page</h1>
<p>BoostMe is a service that matches players of higher skills with other players. Lower skilled players can use this service to join up with higher skilled players so that they can be "boosted" and gain a higher rank</p>
<h2>Booster</h2>
<p>Boosters can create profiles so that they can be found be other players looking for high skilled players. This website is great for high skilled players because they can charge a fee for their services.</p>
<h2>Boostee</h2>
<p>Boostees can search through games and find profiles of high skilled players associated with their preferred games. They can see the fee that they charge and their contact address if they wish to employ their services. Users of this service are encourgaed to write reviews on profiles so that other users are able to judge the quality of service that they will receive.</p>

<button class="button" ui-sref="login">Login</button>
<button class="button" ui-sref="register">Register</button>
