#navBar {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

.menuButton {
    float: left;
}

.menuButton .link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

.games {
  display: inline-block;
  margin: 30px;
}

#gameTitle {
  text-align: center;
}

body {
  color: #6441A4;
  background-color: #EFEEF1;
}

#login, #register, #createProfile {
  position: fixed;
  top: 20%;
  left: 35%;
  background-color: white;
  display: block;
  height: 375px;
  width: 380px;
  text-align: center;
  border: 5px solid #737373;
}

input, label {
  display: block;
  padding: 0;
}

input {
  position: relative;
  left: 25%;
  text-align: center;
  width: 200px;
  margin-top: 0;
  padding-top: 0;
}

img {
  border: 10px solid #333333;
}

.profileBox {
  border: 5px solid #333333;
  width: 300px;
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.button {
  margin-top: 10px;
  background-color: #6441A4;
}

#profilesIndex {
  text-align: center;
}

.title {
  text-align: center;
  margin-right: 50px;
  margin-top: 20px;
}

#logoutButton {
  float: right;
  background-color: #DA4453;
  color: white;
}

.boxMargin {
  margin-top:40px;
}

#profileShow {
  border: 1px solid black;
  margin-top: 20px;
  text-align: center;
}

#reviewBox {
  left: 41%;
}
